

.WeatherCard {
  display: grid;
  width: min-content;
  padding: 5px;
  border: solid black 3px;
}
.cloudContainer {
  background-color: aquamarine;
  top: 55%;
  font-size: 60px;
  color: wheat;
  z-index: 2;
}

.WeatherContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  margin: 10px auto;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  min-width: 300px;

  & .cityName {
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
    margin: 5px 0 0 0;
  }
  & .cityTime {
    font-size: 1rem;

    text-align: center;
    margin: 0;
  }
  & .weatherValues {
    margin-top: 15px;
    padding: 10px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    text-transform: uppercase;
    row-gap: 0.5em;
    & .weatherValue {
      background-color: rgba(174, 166, 166, 0.501);
      border-radius: 1em;
      display: flex;
      align-items: center;
      & .iconContainer {
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.561);
        border-radius: 50%;
        margin: 0 0.5rem 0 0;
        aspect-ratio: 1;
        & .icon {
          font-size: 2rem;
          margin: 0 0.5rem;
        }
      }

      & .name {
        width: 50%;
        line-height: 100%;
      }
    }
  }
}
