@keyframes rotate {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

.cloudContainer {
  background-color: aquamarine;
  top: 55%;
  font-size: 60px;
  color: wheat;
  z-index: 2;
}

.weatherContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  overflow: hidden;
  margin: 10px auto;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  min-width: 300px;
  min-height: 400px;
  position: relative;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 30px 6px var(--primary-color);
  & .selectWaetherTypeButton {
    color: white;
    background-color: var(--tertiary-color);
    border: 5px solid var(--secondary-color);
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5em 0;
    border-radius: 0.5em 0.5em 0 0;
  }
  & .wrapperLoadingIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    & .loadingIcon {
      font-size: 100px;
      animation: rotate infinite 1s linear;
      position: absolute;
      transform-origin: center;
    }
  }
  & .title {
    background-color: var(--secondary-color);
    color: white;

    & .cityName {
      font-size: 1.5rem;
      text-transform: capitalize;
      text-align: center;
      margin: 5px 0 0 0;
    }
    & .cityTime {
      font-size: 0.8rem;
      text-align: center;
      margin: 0;
    }
  }
  & .weatherValues {
    margin-top: 15px;
    padding: 10px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-grow: 0;
    text-transform: uppercase;
    row-gap: 0.5em;
    font-size: 24px;
    font-weight: 700;
    flex-wrap: wrap;

    & .weatherValuesGroupContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      border: 8px solid var(--tertiary-color);
      padding: 0.2em;
      height: 150px;
      gap: 0.2em;
    }

    & .weatherValuesGroupContainer {
      & .valueWrapper {
        position: relative;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--tertiary-color);
        border: 10px solid rgba(255, 255, 255, 0.171);
        aspect-ratio: 1;
        padding: 0.6em;
        border: 6px solid var(--secondary-color);
        text-align: center;
        height: 70%;
        & .iconWrapper {
          color: white;
          position: absolute;
          top: 0%;
          left: 50%;
          font-size: 1.2em;
          aspect-ratio: 1;
          transform: translate(-50%, -60%);
          background-color: var(--primary-color);
          border-radius: 50%;
          border: none;
          border: 4px solid var(--secondary-color);
          padding: 0.3em;
          opacity: 1;
          height: 1.5em;
          & .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        &.temperature {
          font-size: 1em;
          height: 90%;
          & .iconWrapper {
            height: 2em;
            font-size: 1.2em;
          }
        }
      }

      & .pressureWrapper,
      .precipitationWrapper {
        border-radius: 50%;
        position: relative;
        & .pressureIcon,
        .precipitationIcon {
          position: absolute;
          font-size: 2em;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.377);
        }
      }
    }
    & .windContainer {
      border: 8px solid rgba(255, 255, 255, 0.39);
      padding: 1em;
      position: relative;
      display: flex;
      flex-direction: column;
      height: auto;
      justify-content: space-around;
      width: 45%;
      & .windSpeedValue {
        background-color: rgba(255, 255, 255, 0.377);
        border-radius: 0.5em;
        margin-bottom: 1em;
      }
      & .windIcon {
        position: absolute;
        font-size: 1.5em;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.377);
      }

      & .windDirectionWrapper {
        position: relative;
        padding: 0.8em;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.377);
        & .windDirectionIcon {
          font-size: 1.5em;
        }
        & .windLegend {
          position: absolute;
          transform: translate(-50%, -50%);
          background-color: white;
          border-radius: 50%;
          display: block;
          aspect-ratio: 1;
          height: 1.3em;
          aspect-ratio: 1;
          background-color: var(--secondary-color);
          color: white;
          & .letter {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
          &.n {
            top: 0;
            left: 50%;
          }
          &.e {
            top: 50%;
            left: 100%;
          }
          &.s {
            top: 100%;
            left: 50%;
          }
          &.w {
            left: 0%;
            top: 50%;
          }
        }
      }
    }
    & .weatherValue {
      background-color: rgba(174, 166, 166, 0.501);
      border-radius: 1em;
      display: flex;
      align-items: center;
      & .iconContainer {
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.561);
        border-radius: 50%;
        margin: 0 0.5rem 0 0;
        aspect-ratio: 1;
        & .icon {
          font-size: 2rem;
          margin: 0 0.5rem;
        }
      }

      & .name {
        width: 50%;
        line-height: 100%;
      }
    }
  }
  & .selectWaetherTypeButton {
    background-color: none;
    font-size: 2rem;
  }
}
