$width-mobile: 415px;
$width-tablet: 769px;

:root {
  // icon variales
  --sky-color: #3b85e7;
  --sun-color: rgb(223, 223, 18);
  --moon-color: rgb(221, 235, 237);
  --sun-background-color: rgba(223, 223, 18, 0.363);
  --moon-background-color: rgba(255, 255, 254, 0.265);
  --cloud-lightrain-color: rgba(255, 252, 252, 0.834);
  --cloud-rain-color: rgba(180, 166, 166, 0.71);
  --cloud-heavyrain-color: rgba(118, 110, 110, 0.71);
  --rain-color: rgba(49, 205, 244, 0.567);
  --ground-color: rgba(56, 124, 42, 0.763);
  --ground-snow-color: rgb(255, 255, 255);
  --snow-color: rgb(244, 244, 244);
  --grass-color: rgba(32, 136, 11, 0.793);
  //

  --header-background: rgb(35, 221, 87);
  --header-gradnient: linear-gradient(
    45deg,
    rgba(35, 221, 87, 1) 10%,
    rgba(11, 222, 238, 1) 30%,
    rgba(35, 221, 87, 1) 50%,
    rgba(11, 222, 238, 1) 70%
  );
  --primary-color: rgb(5, 207, 190);
  --secondary-color: rgb(40, 85, 81);
  --tertiary-color: rgb(99, 225, 214);
  --background-color: rgb(167, 231, 236);
  --green-color: rgb(35, 221, 87);
  --text-color: black;
  --red-color: rgb(255, 30, 0);
}

.dark {
  --primary-color: rgb(44, 59, 51);
  --secondary-color: rgba(8, 41, 87, 0.644);
  --tertiary-color: rgb(12, 51, 35);
  --header-gradnient: linear-gradient(
    45deg,
    rgb(43, 46, 44) 10%,
    rgb(76, 91, 92) 30%,
    rgb(43, 46, 44) 50%,
    rgb(76, 91, 92) 70%
  );
  --text-color: white;
  --green-color: rgb(1, 97, 28);
  --background-color: rgb(13, 31, 22);
  --red-color: rgb(168, 33, 15);

}
