@use '_veriables' as *;

.fiveDaysWeatherCard {
  position: relative;
  & .fiveDaysWeatherListContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    & .weatherDaysSelectorContainer {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
      & .weatherDaySelectorButton {
        margin: 2% 0;
        text-transform: capitalize;
        font-size: 1rem;
        flex-grow: 1;
        background-color: var(--tertiary-color);
        font-weight: 600;
        text-transform: uppercase;
        border: 1px solid var(--secondary-color);
        border-radius: 0.3em;
        box-shadow: inset 0 0 0.2em 0.05em white;
        aspect-ratio: 1;
      }
    }

    & .fiveDaysWeatherList {
      display: flex;
      overflow-x: scroll;
      gap: 0.5rem;
    }
  }
  & .fiveDaysWeatherDayContainer {
    margin-right: 5px;
    border-radius: 1rem;
    background-color: var(--tertiary-color);
    padding: 0.5rem;
    & .dayName {
      border: 2px solid var(--secondary-color);
      border-radius: 1rem;
      width: 100%;
      font-size: 1.5rem;
      text-align: center;
      line-height: 1.5rem;
      padding: 0.2em 0;
      margin: 0 0 0.5rem 0;
      background-color: var(--secondary-color);
      color: white;
    }
    & .dayWeatherList {
      display: flex;
      justify-content: center;
      flex-shrink: 0;
      flex-wrap: nowrap;
      gap: 0.2rem;

      & .dayWeatherElement {
        flex-shrink: 0;
        border: 1px solid black;
        background-color: var(--secondary-color);
        position: relative;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        color: white;
        &.selected {
          border: 4px solid black;
          transform: scaleX(1.1);
        }

        & .elementHeader {
          font-size: 1rem;
          width: 100%;
          color: white;
          text-align: center;
          margin: 0;
          width: 100%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
        & .weatherIconContainer {
          position: relative;
          border-bottom: 3px black solid;

          & .weatherIcon {
            width: 60px;
          }
          & .sky {
            &.night {
              &::after {
                content: '';
                display: block;
                z-index: 1;
                background-color: rgba(0, 0, 0, 0.275);
                position: absolute;
                inset: 0;
              }
            }
          }
          & .temperature {
            font-size: 0.8rem;
            position: absolute;
            top: 50%;
            left: 50%;
            color: black;
            border-radius: 1rem;
            padding: 0.2rem;
            background-color: var(--primary-color);
            .dark & {
              color: white;
            }
          }
        }
        & .precipitationElement {
          height: 60px;
          width: 100%;
          display: flex;
          align-items: end;
          justify-content: end;
          flex-direction: column;
          & .precipitationBar {
            width: 100%;
            background-color: rgb(0, 189, 247);
            border-bottom: 5px black solid;
            overflow: hidden;
          }
          & .precipitationAmountSpan {
            width: 100%;
          }
          & .noPrecipitationElement {
            width: 100%;
            height: 100%;
            font-size: 2rem;
            position: relative;
            & svg {
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              position: absolute;
            }
          }
        }
      }
    }
    & .weatherLegend {
      height: 100%;
      width: 20px;
      display: flex;
      align-items: end;
      & .elementHeader {
        font-size: 1rem;
        width: 100%;
        text-align: center;
        margin: 0;
        position: absolute;
      }
      & .precipitationLegend {
        width: 100%;
        height: 100px;
        background-color: grey;
        position: relative;
        & .levelLine {
          position: absolute;
          right: 0;
          transform: translateY(-50%);
        }
      }
    }
  }
}

@media (min-width: $width-mobile) {
  .fiveDaysWeatherCard {
    position: relative;
    & .fiveDaysWeatherListContainer {
      & .weatherDaysSelectorContainer {
        gap: 10px;
        & .weatherDaySelectorButton {
          aspect-ratio: 2/1;
        }
      }

      & .fiveDaysWeatherList {
        display: flex;
        &::-webkit-scrollbar {
          width: 0.8em;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px var(--text-color);
          background-color: var(--secondary-color);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--primary-color);
          outline: 0.1em solid slategrey;
          border-radius: 0.5em;
        }
      }
    }

    & .fiveDaysWeatherDayContainer {
      margin-right: 5px;
      border-radius: 1rem;
      background-color: var(--tertiary-color);
      padding: 0.5rem;
      & .dayName {
        border: 2px solid var(--secondary-color);
        border-radius: 1rem;
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
        line-height: 1.5rem;
        padding: 0.2em 0;
        margin: 0 0 0.5rem 0;
        background-color: var(--secondary-color);
        color: white;
      }
      & .dayWeatherList {
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        flex-wrap: nowrap;
        gap: 0.2rem;

        & .dayWeatherElement {
          flex-shrink: 0;
          border: 1px solid black;
          background-color: var(--secondary-color);
          position: relative;
          border-radius: 1rem;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          color: white;
          &.selected {
            border: 4px solid black;
            transform: scaleX(1.1);
          }

          & .elementHeader {
            font-size: 1rem;
            width: 100%;
            color: white;
            text-align: center;
            margin: 0;
            width: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
          & .weatherIconContainer {
            position: relative;
            border-bottom: 3px black solid;

            & .weatherIcon {
              width: 60px;
            }
            & .sky {
              &.night {
                &::after {
                  content: '';
                  display: block;
                  z-index: 1;
                  background-color: rgba(0, 0, 0, 0.275);
                  position: absolute;
                  inset: 0;
                }
              }
            }
            & .temperature {
              font-size: 0.8rem;
              position: absolute;
              top: 50%;
              left: 50%;
              color: black;
              border-radius: 1rem;
              padding: 0.2rem;
              background-color: var(--primary-color);
              .dark & {
                color: white;
              }
            }
          }
          & .precipitationElement {
            height: 60px;
            width: 100%;
            display: flex;
            align-items: end;
            justify-content: end;
            flex-direction: column;
            & .precipitationBar {
              width: 100%;
              background-color: rgb(0, 189, 247);
              border-bottom: 5px black solid;
              overflow: hidden;
            }
            & .precipitationAmountSpan {
              width: 100%;
            }
            & .noPrecipitationElement {
              width: 100%;
              height: 100%;
              font-size: 2rem;
              position: relative;
              & svg {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
              }
            }
          }
        }
      }
      & .weatherLegend {
        height: 100%;
        width: 20px;
        display: flex;
        align-items: end;
        & .elementHeader {
          font-size: 1rem;
          width: 100%;
          text-align: center;
          margin: 0;
          position: absolute;
        }
        & .precipitationLegend {
          width: 100%;
          height: 100px;
          background-color: grey;
          position: relative;
          & .levelLine {
            position: absolute;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

@media (min-width: $width-tablet) {
  .fiveDaysWeatherCard {
    position: relative;
    & .skyIcon {
      position: absolute;
      width: 50%;
      aspect-ratio: 5/3;
      top: 2.5rem;
      left: 0.5rem;
      min-width: 400px;
    }

    & .fiveDaysWeatherListContainer {
      & .weatherDaysSelectorContainer {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        order: 2;

        & .weatherDaySelectorButton {
          aspect-ratio: 3/1;
        }
      }

      & .fiveDaysWeatherList {
        display: flex;
        overflow-x: scroll;
        gap: 0.5rem;
        &::-webkit-scrollbar {
          width: 0.8em;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px var(--text-color);
          background-color: var(--secondary-color);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--primary-color);
          outline: 0.1em solid slategrey;
          border-radius: 0.5em;
        }
      }
    }
    & .weatherValues {
      order: -1;
      &::before {
        margin-top: 0.5rem;
        margin-left: 0.5em;
        aspect-ratio: 5/3;
      }
    }
    & .title {
      order: -1;
    }
    & .fiveDaysWeatherDayContainer {
      & .dayName {
      }
      & .dayWeatherList {
        & .dayWeatherElement {
          &.selected {
          }
          & .elementHeader {
          }
          & .weatherIconContainer {
            & .weatherIcon {
            }
            & .sky {
              &.night {
                &::after {
                  content: '';
                }
              }
            }
            & .temperature {
              .dark & {
              }
            }
          }
          & .precipitationElement {
            & .precipitationBar {
            }
            & .precipitationAmountSpan {
            }
            & .noPrecipitationElement {
              & svg {
              }
            }
          }
        }
      }
      & .weatherLegend {
        & .elementHeader {
        }
        & .precipitationLegend {
          & .levelLine {
          }
        }
      }
    }
  }
}
