@use '_veriables' as *;
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}
.skyIcon {
  font-size: 100px;
  overflow: hidden;
  aspect-ratio: 3;
  position: relative;
  border: 1px solid black;
  background-color: var(--sky-color);
}

.CurrentWeatherIconContainer {
  overflow: hidden;
  position: relative;
  box-shadow: 0 8px 10px 1px rgb(80, 79, 79);
  border-radius: 0 0 2% 2%;

  & .skyIcon {
    width: 100%;
    aspect-ratio: 3;
    height: auto;
    transition-duration: 1s;
  }
  &.night {
    &::after {
      content: '';
      display: block;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.275);
      position: absolute;
      inset: 0;
    }
  }

  & .ground {
    position: relative;
    background-color: var(--ground-color);
    aspect-ratio: 5;
    &.snow {
      background-color: var(--ground-snow-color);
    }

    & .treeContainer {
      height: 110%;
      aspect-ratio: 1;
      transform: translateX(-50%);
      position: absolute;
      & .grass {
        position: absolute;
        bottom: 0%;
        color: var(--grass-color);
        z-index: 1000;
        right: 50%;
        transform: translateX(50%);
        font-size: 170%;
      }
      & .snowTrunk {
        position: absolute;
        bottom: 0%;
        color: var(--snow-color);
        z-index: 1000;
        right: 50%;
        transform: translate(50%, 50%);
        font-size: 170%;
      }
    }
    & .puddle {
      width: 100%;
    }
  }
  & .wind {
    height: 100%;
    color: rgba(255, 255, 255, 0.438);
    width: 100%;
    z-index: 1000;
  }
}
.cloudContainer {
  background-color: aquamarine;
  top: 55%;
  font-size: 60px;
  color: wheat;
  z-index: 2;
}

.weatherContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  overflow: hidden;
  margin: 10px auto;
  border-radius: 10px;
  width: 95%;
  max-width: 800px;
  min-width: 300px;
  min-height: 400px;
  position: relative;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 30px 6px var(--primary-color);
  & .selectWaetherTypeButton {
    color: white;
    background-color: var(--tertiary-color);
    border: 5px solid var(--secondary-color);
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5em 0;
    border-radius: 0.5em 0.5em 0 0;
  }
  & .wrapperLoadingIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    & .loadingIcon {
      font-size: 100px;
      animation: rotate infinite 1s linear;
      position: absolute;
      transform-origin: center;
    }
  }
  & .title {
    background-color: var(--secondary-color);
    color: white;

    & .cityName {
      font-size: 1.5em;
      text-transform: capitalize;
      text-align: center;
      margin: 5px 0 0 0;
    }
    & .cityTime {
      font-size: 1em;
      text-align: center;
      margin: 0;
    }
  }
  & .weatherValues {
    margin-top: 15px;
    padding: 10px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-grow: 0;
    text-transform: uppercase;
    row-gap: 0.5em;
    font-size: 1.5em;
    font-weight: 700;
    flex-wrap: wrap;
    & .weatherGroupWrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    & .weatherValuesGroupContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: 1em;
      border: 8px solid var(--tertiary-color);
      padding: 0.2em;
      width: 100%;
      gap: 1%;
    }

    & .weatherValuesGroupContainer {
      & .valueWrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--tertiary-color);
        aspect-ratio: 1;
        border: 6px solid var(--secondary-color);
        text-align: center;
        flex-grow: 1;
        & .iconWrapper {
          color: white;
          position: absolute;
          top: 0%;
          left: 50%;
          font-size: 1.2em;
          aspect-ratio: 1;
          transform: translate(-50%, -60%);
          background-color: var(--primary-color);
          border-radius: 50%;
          border: none;
          border: 4px solid var(--secondary-color);
          padding: 0.3em;
          height: 1.5em;
          & .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        &.pressure,
        &.precipitation {
          width: 30%;
        }

        &.temperature {
          font-size: 1.1em;
          flex-grow: 6;
          min-width: max-content;
          & .iconWrapper {
            height: 2em;
            font-size: 1.1em;
          }
        }
      }
    }
    & .windContainer,
    & .restContainer {
      border: 8px solid var(--tertiary-color);
      position: relative;
      display: flex;
      flex-direction: column;
      height: auto;
      justify-content: space-around;
      width: 45%;
      padding: 0.5em 0;
      gap: 0.5rem;
      & .valueWrapper {
        width: 80%;
      }
      & .windSpeedValue {
        border-radius: 0.5em;
        margin-bottom: 1em;
      }
      & .windIcon {
        position: absolute;
        font-size: 1.5em;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      & .windDirectionWrapper {
        width: 80%;
        aspect-ratio: 1;
        position: relative;
        padding: 0.8em;
        border-radius: 50%;
        background-color: var(--tertiary-color);
        border: 3px solid var(--secondary-color);
        & .windDirectionIconWrapper {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          & .windDirectionIcon {
            transition-duration: 0.5s;
            font-size: 1.5em;
          }
        }
        & .windLegend {
          position: absolute;
          transform: translate(-50%, -50%);
          background-color: white;
          border-radius: 50%;
          display: block;
          aspect-ratio: 1;
          height: 1.5em;
          background-color: var(--secondary-color);
          color: white;
          border: 3px solid var(--tertiary-color);

          & .letter {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
          &.n {
            top: 0;
            left: 50%;
          }
          &.e {
            top: 50%;
            left: 100%;
          }
          &.s {
            top: 100%;
            left: 50%;
          }
          &.w {
            left: 0%;
            top: 50%;
          }
        }
      }
    }
    & .weatherValue {
      background-color: rgba(174, 166, 166, 0.501);
      border-radius: 1em;
      display: flex;
      align-items: center;
      & .iconContainer {
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.561);
        border-radius: 50%;
        margin: 0 0.5rem 0 0;
        aspect-ratio: 1;
        & .icon {
          font-size: 2rem;
          margin: 0 0.5rem;
        }
      }
      & .name {
        width: 50%;
        line-height: 100%;
      }
    }
  }
  & .selectWaetherTypeButton {
    border: 8px solid var(--secondary-color);
    border-bottom: none;
    font-size: 2rem;
  }
}

@media (min-width: $width-mobile) {
  .weatherContainer {
    width: 85%;
    & .CurrentWeatherIconContainer {
      height: min-content;
      margin: inherit auto;
    }
    & .title {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;
    }
    & .weatherValues {
      & .weatherGroupWrapper {
        flex-direction: row;
        align-items: center;
      }
      & .weatherValuesGroupContainer {
        gap: 1rem;
        width: 100%;
        justify-content: center;
        & .valueWrapper,
        & .valueWrapper.temperature {
          aspect-ratio: 0;
          font-size: 1em;
          justify-content: flex-start;
          flex-direction: column;
          min-height: max-content;
          padding: 0;
          min-width: 25%;
          border-radius: 0.5em;
          overflow: hidden;
          width: 33%;
          max-width: 120px;
          & .value {
            min-height: 2.5em;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          & .iconWrapper {
            position: static;
            border: none;
            border-bottom: 0.2em solid var(--secondary-color);
            border-radius: 0;
            transform: none;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1.5em;
            & .icon {
              position: static;
              transform: none;
            }
          }
        }
      }

      & .windContainer {
        width: 63%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        & .windDirectionWrapper {
          font-size: 0.8em;
          width: 40%;
          min-width: 90px;
          aspect-ratio: 1;
          flex-grow: 0;
        }
        & .windSpeedValue {
          min-width: fit-content;
          width: 35%;
          aspect-ratio: 1/1;
          margin: 0;
          flex-grow: 0;
          & .value {
            min-width: 6ch;
          }
        }
      }
      & .restContainer {
        flex-direction: column;
        width: 35%;
        & .valueWrapper {
          flex-direction: row;
          width: 90%;
          padding: 0;
          aspect-ratio: 0;
          & .iconWrapper {
            aspect-ratio: unset;
            border: none;
            border-right: 0.2em solid var(--secondary-color);
            height: 100%;
          }
          & .value {
            min-height: 3ch;
            width: 100%;
            min-height: max-content;
            text-align: center;
          }
        }
      }
    }
    & .selectWaetherTypeButton {
    }
  }
}

@media (min-width: $width-tablet) {
  .weatherContainer {
    width: 85%;
    max-width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;

    & .CurrentWeatherIconContainer,
    & .weatherValues::before {
      width: 48%;
      min-width: 400px;
      height: min-content;
      aspect-ratio: 2/1;
    }
    & .CurrentWeatherIconContainer {
      border: 8px solid var(--tertiary-color);
      border-radius: 1rem;
    }
    & .CurrentWeatherIconContainer {
      position: absolute;
      top: 3.5rem;
    }

    & .title {
      height: 3rem;
      width: 100%;
    }
    & .weatherValues {
      width: 100%;
      padding: 0;
      padding-top: 0.5rem;
      margin: 0;
      justify-content: space-around;
      &::before {
        content: '';
        display: block;
      }

      & .weatherGroupWrapper {
      }
      & .weatherValuesGroupContainer {
        flex-direction: column;
        justify-content: space-around;
        width: 4%;
        max-width: 400px;
        aspect-ratio: 2/1;
        flex-grow: 1;
        position: relative;
        gap: 0.2em;
        row-gap: 0.2em;
        & .valueWrapper {
          flex-wrap: wrap;
          &.pressure,
          &.precipitation,
          &.temperature {
            aspect-ratio: 0;
            max-width: none;
            min-width: max-content;
            width: 90%;
            padding: 0;
            flex-direction: row;
            flex-wrap: nowrap;
            & .iconWrapper {
              aspect-ratio: 0;
              width: 1.5em;
              height: 100%;
              border: none;
              border-right: 0.2em solid var(--secondary-color);
            }
            & .value {
              min-width: 9ch;
              min-height: auto;
            }
          }
        }
      }

      & .weatherGroupWrapper {
        justify-content: space-around;
      }

      & .windContainer {
        aspect-ratio: 0;
        max-height: 160px;
        order: -1;
        width: 48%;
        max-width: none;
        flex-grow: 0;
        & .windDirectionWrapper {
          height: 90%;
          width: auto;
        }

        & .windSpeedValue {
        }
      }
      & .restContainer {
        height: 100%;
        max-height: 160px;
        flex-direction: row;
        flex-wrap: nowrap;

        & .valueWrapper {
          height: 100%;
          & .iconWrapper {
            height: 1.5em;
            border: none;
            border-bottom: 0.2em solid var(--secondary-color);
          }

          & .value {
            min-height: 2em;
          }
        }
      }
    }
    & .selectWaetherTypeButton {
      width: 100%;
      margin-top: 1rem;
    }
  }
}
