.fiveDaysWeatherCard {
  max-width: 500px;
  border: 1px solid black;
  min-height: 300px;
  width: 95%;
  margin: 20px auto;
  position: relative;
  & .fiveDaysWeatherListContainer {
    display: flex;
    & .fiveDaysWeatherList {
      display: flex;
      overflow: scroll;
    }
  }
}

.fiveDaysWeatherDayContainer {
  border: 2px solid red;
  margin-right: 5px;
  border-radius: 1rem;

  & .dayName {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    margin: 0;
  }
  & .dayWeatherList {
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;

    & .dayWeatherElement {
      flex-shrink: 0;
      border: 1px solid black;
      position: relative;
      padding: 0;
      display: flex;
      flex-direction: column;

      & .elementHeader {
        font-size: 1rem;
        width: 100%;
        text-align: center;
        margin: 0;
        position: absolute;
      }
      & .weatherIconContainer {
        position: relative;
        & .weatherIcon {
          width: 60px;
        }
        & .temperature {
          font-size: 0.8rem;
          position: absolute;
          top: 50%;
          left: 50%;
          color: white;
          border-radius: 1rem;
          padding: 0.2rem;
          background-color: black;
        }
      }
      & .precipitation {
        height: 100px;
        width: 100%;
        border: 1px solid pink;
        display: flex;
        align-items: end;
        & .precipitationQuantityBar {
          width: 100%;
          background-color: blue;
        }
      }
    }
  }
  & .weatherLegend {
    height: 100%;
    width: 20px;
    display: flex;
    align-items: end;
    & .elementHeader {
      font-size: 1rem;
      width: 100%;
      text-align: center;
      margin: 0;
      position: absolute;
    }
    & .precipitationLegend {
      width: 100%;
      height: 100px;
      background-color: grey;
      position: relative;
      & .levelLine {
        position: absolute;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }
}
