.fiveDaysWeatherCard {
  border: 1px solid black;
  min-height: 300px;
  width: 95%;
  margin: 20px auto;
  position: relative;
  & .fiveDaysWeatherIcon {
    font-size: 100px;
    overflow: hidden;

    position: relative;
    height: 250px;
    border: 1px solid black;
    background-color: var(--sky-color);

    & .sunMoonContainer {
      border-radius: 50%;
      & .sun {
        position: absolute;
        transform: translate(-50%, -50%);
      }

      & .moon {
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }
  }
  & .fiveDaysWeatherList {
    display: flex;
    overflow: scroll;
    margin: 10px 0;

    & .fiveDaysWeatherDayContainer {
      
      & .dayName {
        width: 100%;
        text-align: center;
      }
      & .fiveDayWeatherListElement {
        flex-shrink: 0;
        border: 1px solid black;
        & .elementHeader {
          font-size: 1rem;
          margin: 0.5rem;
        }
      }
    }
  }
}
