@keyframes sunUp {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }

  100% {
    transform: rotate(180deg) translate(-50%, -50%);
  }
}
.sun {
  border-radius: 50%;
  color: var(--sun-color);
  background-color: var(--sun-background-color);
  box-shadow: 0 0 100px 7px rgb(223, 223, 18);
}

.sunStart {
  animation: sunUp 0.5s linear 0.5s forwards;
}
