@keyframes sunUp {
  0% {
    rotate: 0;
  }

  100% {
    rotate: 180deg;
    top: 50%;
  }
}
@keyframes rotate {
  0% {
    rotate: 0;
  }

  100% {
    rotate: 360deg;
  }
}
.weatherIconContainer {
  font-size: 80px;
  position: absolute;
  transform: translate(-50%, -50%);
  line-height: 0;
  transform-origin: 50% 50%;
  left: 50%;
  top: 100%;
}

.rotate360 {
  animation: rotate 0.5s linear 2s infinite;
}

.sun {
  border-radius: 50%;
  color: var(--sun-color);
  box-shadow: 0 0 100px 7px var(--sun-color);
  background-color: var(--sun-background-color);
}

.cloud {
  color: var(--cloud-lightrain-color);
  z-index: 2;
}
.rain {
  color: var(--rain-color);
  z-index: -10;
}

.windSock {
  position: absolute;
  width: 10%;
  height: 100%;
  bottom: 80%;
  background-color: white;
  border: 1px solid black;
  right: 25%;
  transform: translateX(50%);
  & .fanContainer {
    position: absolute;
    transform: rotatex(45deg);

    & img {
    transform: rotateZ(95deg);
      width: 100%;
      aspect-ratio: 1;
      animation: rotate 1s infinite linear;
    }
  }
}
// .sunStart {
//   animation: sunUp 0.5s linear 0.5s forwards;
// }
