:root {
  --sky-color: #90b0eb;
  --sun-color: rgb(223, 223, 18);
  --moon-color: rgb(221, 235, 237);
  --sun-background-color: rgba(223, 223, 18, 0.265);
  --moon-background-color: rgba(255, 255, 254, 0.265);
  --cloud-lightrain-color: rgba(255, 252, 252, 0.834);
  --cloud-rain-color: rgba(180, 166, 166, 0.71);
  --cloud-heavyrain-color: rgba(118, 110, 110, 0.71);
  --rain-color: rgba(49, 117, 244, 0.567);
  --ground-color: rgba(56, 124, 42, 0.763);
  --ground-snow-color: rgb(255, 255, 255);
  --snow-color: rgb(244, 244, 244);
  --grass-color: rgba(32, 136, 11, 0.793);
}

.cloud {
  color: var(--cloud-lightrain-color);
  z-index: 4;
}
.rain {
  color: var(--rain-color);
  z-index: 3;
}
